.board-layout {
  padding: 1rem;
}

.board-row {
  margin-bottom: -4px;
}

.node-legend {
  margin: 0;
  width: 15px;
  height: 15px;
}

.node-legend-final {
  outline: 1px solid var(--wall-outline);
  box-shadow: 0 0 5px inset var(--wall-outline);
}
