:root {
  --shortest-path: rgb(132, 193, 250);
  --source: rgb(0, 177, 0);
  --target: rgb(255, 49, 49);
  --unvisited: gainsboro;
  --unvisited-outline: black;
  --visited: rgb(250, 250, 103);
  --wall: rgb(161, 127, 14);
  /* --wall: rgb(124, 0, 124); */
  --wall-outline: rgb(75, 63, 30);
  --node-outline: blue;
}
